<img style="float:left" width="70%" src="../../documentacion/imagenes/escudo_COLOR_1L_DCHA.png">
<img style="float:right" width="10%" src="../../documentacion/imagenes/PythonLogo.svg">
<br style="clear:both;">


<h2 style="display: inline-block; padding: 4mm; padding-left: 2em; background-color: navy; line-height: 1.3em; color: white; border-radius: 10px;">7. Machine Learning</h2>


 
## Estudiante:

- Jose Luis Perez Gomez

In [93]:
%run Importaciones.ipynb
%run Variables_Clases.ipynb

#

In [94]:
experimento_1_nor = pd.read_csv('../datos/experimento_1.csv', sep=',')
experimento_2_nor = pd.read_csv('../datos/experimento_2.csv', sep=',')
experimento_3_nor = pd.read_csv('../datos/experimento_3.csv', sep=',')
experimento_4_nor = pd.read_csv('../datos/experimento_4.csv', sep=',')
experimentos_all = pd.read_csv('../datos/experimento_all.csv', sep=',')

experimentos_nor = [experimento_1_nor, experimento_2_nor, experimento_3_nor,experimento_4_nor]

In [95]:
experimento_1_nor

,Timestamp,Attention,Meditation,Delta,Theta,LowAlpha,HighAlpha,LowBeta,HighBeta,LowGamma,HighGamma,Key
0,54127.0,0.838384,0.474747,0.009006,0.011185,0.006130,0.006843,0.001222,0.030424,0.039161,0.036669,4.0
1,55056.0,0.777778,0.595960,0.001631,0.003823,0.016003,0.021995,0.000523,0.019995,0.024421,0.019984,0.0
2,56038.0,0.656566,0.747475,0.037205,0.011676,0.023153,0.014381,0.001926,0.046070,0.052352,0.148078,0.0
3,57043.0,0.606061,0.868687,0.020813,0.009838,0.011090,0.008470,0.002168,0.032221,0.051796,0.042572,0.0
4,58203.0,0.363636,0.838384,0.007665,0.059127,0.020394,0.015500,0.003289,0.005862,0.014763,0.010519,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
124,187431.0,0.606061,0.696970,0.001901,0.001968,0.001371,0.002517,0.002912,0.016013,0.010733,0.009625,0.0
125,188460.0,0.636364,0.636364,0.002843,0.008206,0.002527,0.004264,0.005965,0.015300,0.015787,0.032110,0.0
126,189477.0,0.555556,0.595960,0.001511,0.013139,0.013610,0.003816,0.001972,0.015642,0.010172,0.009362,0.0
127,190419.0,0.595960,0.434343,0.012638,0.027682,0.012499,0.012248,0.002792,0.041016,0.035587,0.024125,0.0
128,191448.0,0.565657,0.525253,0.000925,0.006954,0.018696,0.004755,0.004648,0.051305,0.024826,0.024369,0.0

# holdout

Conjunto de entrenamiento: 81% del total
Conjunto de validaciÃ³n: 9% del total
Conjunto de prueba: 10% del total

In [126]:
tests_holdout= []
matriz_confusion =0


def evaluar_holdout(dataframe):
    
    y = dataframe['Key'].values
    X = dataframe.drop(columns=['Key']).values
    
    # Se dividen los datos. X_train_val sera el 90% de los datos y X_test el 10%
    X_train_val, X_test, y_train_val, y_test = train_test_split(X, y, random_state=SEED, stratify=y, train_size=TRAIN)

    # Se dividen los datos. X_train sera el 90% de los datos de X_train_val y X_val el restante 10%
    X_train, X_val, y_train, y_val = train_test_split(X_train_val, y_train_val, random_state=SEED, stratify=y_train_val, train_size=TRAIN)
    
    tests_holdout.append(X_test)
    tests_holdout.append(y_test)
    
    # Entreno el modelo
    model_KNN.fit(X_train, y_train)
    model_TREE.fit(X_train, y_train)
    model_RANDOM.fit(X_train, y_train)
    
    # Evaluo el modelo con X_val
    y_predict_knn = model_KNN.predict(X_val)
    y_predict_tree = model_TREE.predict(X_val)
    y_predict_random = model_RANDOM.predict(X_val)
    
    # Evaluo el rendimiento que ha tenido Validation 
    knn_ac = accuracy_score(y_val, y_predict_knn)
    tree_ac = accuracy_score(y_val, y_predict_tree)
    random_ac = accuracy_score(y_val, y_predict_random)
    
    
    
    # Evaluo el modelo con X_val
    y_predict_knn1 = model_KNN.predict(X_test)
    y_predict_tree1 = model_TREE.predict(X_test)
    y_predict_random1 = model_RANDOM.predict(X_test)
    
    # Evaluo el rendimiento que ha tenido Validation 
    knn_ac1 = accuracy_score(y_test, y_predict_knn1)
    tree_ac1 = accuracy_score(y_test, y_predict_tree1)
    random_ac1 = accuracy_score(y_test, y_predict_random1)
    
    
    
    
    
    matriz_confusion = confusion_matrix(y_val, y_predict_knn)
    
    
    return ((knn_ac), (tree_ac), (random_ac), (knn_ac1), (tree_ac1), (random_ac1))

In [127]:
modelos_all= []

for exp in experimentos_nor:
    
    modelos_all.append(evaluar_holdout(exp))
    print(evaluar_holdout(exp))

datos_holdout = pd.DataFrame(modelos_all, columns=['Knn_holdout', 'Tree_holdout', 'Random_holdout','Knn_holdout1', 'Tree_holdout1', 'Random_holdout1'])
#creo los valores nuevo para los indices de las filas 
nuevos_indices = {0: 'Exp_1', 1: 'Exp_2', 2: 'Exp_3', 3: 'Exp_4'}
# combio los valores anteriores en el dataframene con rename
datos_holdout = datos_holdout.rename(index=nuevos_indices)

(0.9166666666666666, 0.9166666666666666, 0.5833333333333334, 0.8461538461538461, 0.9230769230769231, 0.46153846153846156)
(1.0, 1.0, 0.35714285714285715, 0.8, 0.7333333333333333, 0.3333333333333333)
(0.7777777777777778, 0.7777777777777778, 0.5, 0.8421052631578947, 0.7894736842105263, 0.47368421052631576)
(0.7894736842105263, 0.7894736842105263, 0.3684210526315789, 0.8095238095238095, 0.8095238095238095, 0.47619047619047616)

In [128]:
len(tests_holdout)

16

In [129]:
display(datos_holdout)

,Knn_holdout,Tree_holdout,Random_holdout,Knn_holdout1,Tree_holdout1,Random_holdout1
Exp_1,0.916667,0.833333,0.416667,0.846154,0.923077,0.461538
Exp_2,1.000000,1.000000,0.571429,0.800000,0.800000,0.533333
Exp_3,0.777778,0.833333,0.611111,0.842105,0.736842,0.421053
Exp_4,0.789474,0.789474,0.526316,0.809524,0.761905,0.476190

 # k-fold cross-validation

In [116]:
#ACC_SCORER

def evaluar_cross_val(dataframe):
    
    knn_means = []
    tree_means = []
    random_means =[]
    
    y = dataframe['Key'].values
    X = dataframe.drop(columns=['Key']).values
     
    # Calculo las  metricas       
    knn = cross_val_score(model_KNN, X, y, cv=CV, scoring=ACC_SCORER)      
    tree = cross_val_score(model_TREE, X, y, cv=CV, scoring=ACC_SCORER)  
    random = cross_val_score(model_RANDOM, X, y, cv=CV, scoring=ACC_SCORER)

    # Calculo la media de las metricas anteriores
    knn_mean = knn.mean()
    tree_mean = tree.mean()
    random_mean = random.mean()

    return ((knn_mean), (tree_mean), (random_mean))

In [117]:
modelos_all= []

for exp in experimentos_nor:
    
    modelos_all.append(evaluar_cross_val(exp))

datos_cross_val = pd.DataFrame(modelos_all, columns=['Knn_cross_val', 'Tree_cross_val', 'Random_cross_val'])
#creo los valores nuevo para los indices de las filas 
nuevos_indices = {0: 'Exp_1', 1: 'Exp_2', 2: 'Exp_3', 3: 'Exp_4'}
# combio los valores anteriores en el dataframene con rename
datos_cross_val = datos_cross_val.rename(index=nuevos_indices)

In [118]:
display(datos_cross_val)

       Knn_cross_val  Tree_cross_val  Random_cross_val
Exp_1       0.920238        0.847619          0.534524
Exp_2       0.877679        0.834821          0.435714
Exp_3       0.843889        0.714444          0.518333
Exp_4       0.758636        0.681364          0.414545

# leave-one-out

In [119]:
#ACC_SCORER

def evaluar_loo(dataframe):
    
    knn_means = []
    tree_means = []
    random_means =[]
    
    y = dataframe['Key'].values
    X = dataframe.drop(columns=['Key']).values
     
    # Calculo las  metricas       
    knn = cross_val_score(model_KNN, X, y, cv=LOO, scoring=ACC_SCORER)      
    tree = cross_val_score(model_TREE, X, y, cv=LOO, scoring=ACC_SCORER)  
    random = cross_val_score(model_RANDOM, X, y, cv=LOO, scoring=ACC_SCORER)

    # Calculo la media de las metricas anteriores
    knn_mean = knn.mean()
    tree_mean = tree.mean()
    random_mean = random.mean()

    return ((knn_mean), (tree_mean), (random_mean))

In [120]:
modelos_all= []

for exp in experimentos_nor:
    
    modelos_all.append(evaluar_loo(exp))

datos_loo = pd.DataFrame(modelos_all, columns=['Knn_loo', 'Tree_loo', 'Random_loo'])
#creo los valores nuevo para los indices de las filas 
nuevos_indices = {0: 'Exp_1', 1: 'Exp_2', 2: 'Exp_3', 3: 'Exp_4'}
# combio los valores anteriores en el dataframene con rename
datos_loo = datos_loo.rename(index=nuevos_indices)

In [121]:
display(datos_loo)

        Knn_loo  Tree_loo  Random_loo
Exp_1  0.930233  0.821705    0.542636
Exp_2  0.926667  0.873333    0.520000
Exp_3  0.926316  0.721053    0.584211
Exp_4  0.865385  0.778846    0.389423

In [106]:


df_concatenado = pd.concat([datos_holdout, datos_cross_val, datos_loo], axis=1)


display(df_concatenado)

,Knn_holdout,Tree_holdout,Random_holdout,Knn_holdout1,Tree_holdout1,Random_holdout1,Knn_cross_val,Tree_cross_val,Random_cross_val,Knn_loo,Tree_loo,Random_loo
Exp_1,1.000000,1.000000,0.333333,0.923077,0.923077,0.538462,0.920238,0.826190,0.478571,0.930233,0.806202,0.542636
Exp_2,0.928571,1.000000,0.428571,0.933333,0.800000,0.466667,0.877679,0.841964,0.544643,0.926667,0.853333,0.560000
Exp_3,1.000000,0.888889,0.611111,0.894737,0.736842,0.368421,0.843889,0.730000,0.481667,0.926316,0.731579,0.505263
Exp_4,0.842105,0.684211,0.105263,0.809524,0.666667,0.380952,0.758636,0.665455,0.352273,0.865385,0.788462,0.399038

In [107]:

#primer mayor valor en verde
#segundo mayor valor en amarillo 


def colorear_mayores(fila):
    mayores_indices = fila.nlargest(2).index  # Obtener los Ã­ndices de los tres valores mÃ¡s grandes en la fila
    
    primer_mayor = mayores_indices[0]
    segundo_mayor = mayores_indices[1]
    
    estilos = []
    for columna in fila.index:

        if columna == primer_mayor:
            estilo = 'background-color: green'
        elif columna == segundo_mayor:
            estilo = 'background-color: yellow'
        else:
            estilo = ''
        estilos.append(estilo)
    
    return estilos

comparativa_ml = df_concatenado.style.apply(colorear_mayores, axis=1)

display(comparativa_ml)

# cross validation

In [108]:
def evaluar_cross_validation(dataframe):
    
    aciertos = []
    y = dataframe['Key'].values
    X = dataframe.drop(columns=['Key']).values
    
    
    X1, X2, y1, y2 = train_test_split(X, y, random_state=SEED, train_size=0.5)

    
    y2_model = model_KNN.fit(X1, y1).predict(X2)
    y1_model = model_KNN.fit(X2, y2).predict(X1)
    aciertos.append(accuracy_score(y1, y1_model))
    aciertos.append(accuracy_score(y2, y2_model))
    media = np.mean(aciertos)
    aciertos.append(media)
 
    return aciertos

In [109]:
modelos_all= []

for exp in experimentos_nor:
    
    modelos_all.append(evaluar_cross_validation(exp))   

datos_cross_validation = pd.DataFrame(modelos_all, columns=['Knn_cross_validation_A','Knn_cross_validation_B','Knn_cross_validation_Media'])
#creo los valores nuevo para los indices de las filas 
nuevos_indices = {0: 'Exp_1', 1: 'Exp_2', 2: 'Exp_3', 3: 'Exp_4'}
# combio los valores anteriores en el dataframene con rename
datos_cross_validation = datos_cross_validation.rename(index=nuevos_indices)

In [110]:
display(datos_cross_validation)

,Knn_cross_validation_A,Knn_cross_validation_B,Knn_cross_validation_Media
Exp_1,0.890625,0.846154,0.868389
Exp_2,0.720000,0.760000,0.740000
Exp_3,0.831579,0.736842,0.784211
Exp_4,0.740385,0.625000,0.682692

# cross_val_predict

In [111]:
def evaluar_cross_val_predict(dataframe):
    
    y = dataframe['Key'].values
    X = dataframe.drop(columns=['Key']).values
        
    predicciones = cross_val_predict(model_KNN, X, y, cv=CV)
    matriz_confusion = confusion_matrix(y, predicciones)
    #reporte = classification_report(y, predicciones)
    #precision, recall, f1_score, _ = reporte.split('\n')[-2].split()[1:]#
    
    return ((matriz_confusion))

In [112]:
modelos_all= []
class_names = []

for exp in experimentos_nor:
    
    modelos_all.append(evaluar_cross_val_predict(exp))   
    class_names = exp['Key'].unique()

conf_mat_exp1 = pd.DataFrame(modelos_all[0], index=class_names, columns=class_names)
conf_mat_exp2 = pd.DataFrame(modelos_all[1], index=class_names, columns=class_names)
conf_mat_exp3 = pd.DataFrame(modelos_all[2], index=class_names, columns=class_names)
conf_mat_exp4 = pd.DataFrame(modelos_all[3], index=class_names, columns=class_names)

In [113]:
display (conf_mat_exp1)
display (conf_mat_exp2)
display (conf_mat_exp3)
display (conf_mat_exp4)

     4.0  0.0  1.0  3.0  2.0
4.0   30    2    3    2    2
0.0    0   22    0    0    0
1.0    0    0   23    0    0
3.0    0    0    0   21    0
2.0    1    0    0    0   23

     4.0  0.0  1.0  3.0  2.0
4.0   26    1    2    3    6
0.0    2   25    0    0    0
1.0    1    0   26    0    0
3.0    1    0    0   28    0
2.0    2    0    0    0   27

     4.0  0.0  1.0  3.0  2.0
4.0   34    9    4    2    4
0.0    2   42    0    0    0
1.0    2    0   27    0    0
3.0    3    0    0   28    0
2.0    3    1    0    0   29

     4.0  0.0  1.0  3.0  2.0
4.0   31    9    5    2   10
0.0    5   42    0    0    0
1.0    6    0   26    0    0
3.0    8    0    0   23    0
2.0    5    0    0    0   36

# Regresion Linear   N/A

In [114]:

def evaluar_linear_regresion(dataframe):
    
    y = dataframe['Key'].values
    X = dataframe.drop(columns=['Key']).values
        
    model_LINEAR.fit(X, y)

    evaluacion = model_LINEAR.score(X, y)
    
    return ((evaluacion))

In [115]:
modelos_all= []

for exp in experimentos_nor:
    
    modelos_all.append(evaluar_linear_regresion(exp))   

datos_linear_regresion = pd.DataFrame(modelos_all, columns=['Linear_regresion'])
#creo los valores nuevo para los indices de las filas 
nuevos_indices = {0: 'Exp_1', 1: 'Exp_2', 2: 'Exp_3', 3: 'Exp_4'}
# combio los valores anteriores en el dataframene con rename
datos_linear_regresion = datos_linear_regresion.rename(index=nuevos_indices)

NameError: name 'model_LINEAR' is not defined

In [ ]:
display(datos_linear_regresion)

In [ ]:


# probar regresion logistica